@model AppraisalWeb.ViewModel.HomeVM
@{
    Layout = "_Layout";
}

<div class="home-container">
    <h1>Welcome</h1>
    <div>Nama : @Model.Name</div>
    <div>NIK : @Model.Nik</div>
    <div>Divisi : @Model.Division</div>
    <div>Jabatan : @Model.Jabatan</div>
</div>
