@{
    Layout = "_Layout";
}
@section Breadcrumbs {
    <div class="breadcrumbs">Access Denied</div>
}
<main>
    <h1>Access Denied</h1>
    <p>Your role are not authorized to access this menu.</p>
    <div class="link-container">
        <a asp-controller="Home" asp-action="HomeIndex" class="grey-button">Back to home</a>
    </div>
</main>