@model AppraisalWeb.ViewModel.FormPenilaianVM
@{
    Layout = "_Layout";
}
<main>
    <div>
        @Model.nik
        @foreach (var item in Model.kpi)
        {
            <p>@item.Text</p>
            <p>@item.Value</p>
        }
    </div>
</main>